<div>

	<div ng-if="prefs.displayType=='dropdown'">

		<h4>Select an account</h4>
		<select ng-change='accountSelected()' ng-model='selectedAccount'>
			<option selected></option>
			<option ng-repeat='account in accounts'>{{account.id}}</option>
		</select>
	</div>

	<div ng-if="prefs.displayType=='sideBySide'">
			<div class='span3' ng-repeat='account in accounts'>
				<h4 class=''>Account: {{account.id}}</h4>
				<div class='{{account.balance | currencyAmountClass}}'>
					{{account.balance | currency}}
					<img src='common/img/layout/account.png' />
					{{account.balance > 0 | checkmark}}
				</div>
			</div>
	</div>

</div>		

