/* app css stylesheet */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.green{color: #BBE9AC}
.red{color: #DD1144}
.bplRed{color: #E60000}


.modal {
  background-color: #212121;
}

.modal-footer {
	background-color: #212121;	
}

.day {color: #333}



.error{font-size: 10px; color: darkred; margin-bottom: 10px; background-color: #d3d3d3; padding: 1px 6px; border-radius: 3px;}

