@import "../bower_components/bootswatch/cyborg/bootstrap.css";
//@import "../bower_components/bootstrap-rtl/less/bootstrap-rtl.less";
@import "app.common.less";

body{direction: rtl; text-align: right;}
.ng-table th.sortable div{padding-right: 0; padding-left: 18px;}
.ng-table th.sortable div:after, .ng-table th.sortable div:before{right: auto; left: 8px;}
th{text-align: right;}

.popover{direction: rtl; text-align: right;}

