/* app css stylesheet */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.error {
  font-size: 10px;
  color: darkred;
  margin-bottom: 10px;
  background-color: #d3d3d3;
  padding: 1px 6px;
  border-radius: 3px;
}

.green {
  color: #BBE9AC
}

.red {
  color: #DD1144
}

.bplRed {
  color: #E60000
}

.day {
  color: #333
}

.inline {
  display: inline;
}

.maxWidth(@size) {
  max-width: @size;
}

.minWidth(@size) {
  min-width: @size;
}

.minWidth100 {
  .minWidth(100px);
}

.maxWidth100 {
  .maxWidth(100px);
}

.minWidth200 {
  .minWidth(200px);
}

.maxWidth200 {
  .maxWidth(200px);
}

.minWidth300 {
  .minWidth(300px);
}

.maxWidth300 {
  .maxWidth(300px);
}

//.modal {
//  background-color: #212121;
//}
//
//.modal-footer {
//	background-color: #212121;
//}




.rtl{direction: rtl; text-align: right;}
.rtl th{text-align: right;}