/* app css stylesheet */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.error {
  font-size: 10px;
  color: darkred;
  margin-bottom: 10px;
  background-color: #d3d3d3;
  padding: 1px 6px;
  border-radius: 3px;
}
.green {
  color: #bbe9ac;
}
.red {
  color: #dd1144;
}
.bplRed {
  color: #e60000;
}
.day {
  color: #333333;
}
.inline {
  display: inline;
}
.minWidth100 {
  min-width: 100px;
}
.maxWidth100 {
  max-width: 100px;
}
.minWidth200 {
  min-width: 200px;
}
.maxWidth200 {
  max-width: 200px;
}
.minWidth300 {
  min-width: 300px;
}
.maxWidth300 {
  max-width: 300px;
}
.rtl {
  direction: rtl;
  text-align: right;
}
.rtl th {
  text-align: right;
}
