<div class="moves" ng-show="accountId">
    <table ng-table="tableParams" class="table" template-pagination="widgets/moves/pager.html">
        <thead>
            <tr>
                <th ng-if="isGrouped">&nbsp;</th>
                <th colspan="5">
                    <ul class="filters" moves-filter-dropdown>
                        <li>
                            <div>
                                <h3>{{ 'Date' | trans }}</h3>
                                <p>{{ filterDateTitle }}</p>
                            </div>

                            <ul>
                                <li ng-click="filterByDate('30_DAYS')">{{ '30 Days' | trans }}</li>
                                <li ng-click="filterByDate('3_MONTH')">{{ 'Three Months' | trans }}</li>
                                <li ng-click="filterByDate('6_MONTH')">{{ 'Half Last Year' | trans }}</li>
                                <li ng-click="filterByDate('CUSTOM')">
                                    {{ 'Exact Date' | trans}}
                                    <form name="filterByDatesForm" ng-submit="submitFilterByDate()" ng-show="showFilterByDatesForm">
                                        <input type="text" ng-model="filter.starts_at"/><br/>
                                        <input type="text" ng-model="filter.ends_at"/><br/>
                                        <button class="btn" type="submit">הצג</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>
                                <h3>{{ 'Type of action' | trans}}</h3>
                                <p>{{ filterCtgsTitle }}</p>
                            </div>
                            <ul>
                                <li>aaa</li>
                            </ul>
                        </li>
                        <li>
                            <div>
                                <h3>{{ 'Sum' | trans}}</h3>
                                <p>{{ filterSumTitle }}</p>
                            </div>
                            <ul>
                                <li>aaa</li>
                            </ul>
                        </li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th ng-if="isGrouped">&nbsp;</th>
                <th moves-sort="created_at">{{ 'Date' | trans }}</th>
                <th moves-sort="category_id">{{ 'Description of action' | trans }}</th>
                <th moves-sort="income">{{ 'Income' | trans }}</th>
                <th moves-sort="expense">{{ 'Expense' | trans}}</th>
                <th>{{ 'Balance in NIS' | trans}}</th>
            </tr>
        </thead>
        <tbody ng-repeat="group in $groups">
            <tr ng-repeat-start="(i, move) in group.data" ng-click="showDetails(move)">
                <td ng-if="isGrouped">{{ i == 0 ? group.value : ''}}</td>
                <td>{{ move.created_at | date:'EEE dd.MM'}}</td>
                <td><i ng-class="getCtgClass(move)" tooltip="{{ getCtgName(move) }}">&nbsp;</i> {{ move.description }}</td>
                <td class="income">{{ move.income | number:2}}</td>
                <td class="expense">{{ move.expense | number:2}}</td>
                <td>
                    <div class="balance">
                        {{ move.balance | number:2}}
                        <button ng-if="move.adviser" class="adviser" adviser-title="{{move.adviser.title}}" adviser="{{move.adviser.description}}" adviser-placement="right">&nbsp;</button>
                        <!--<button ng-if="move.adviser" class="adviser" adviser-title="{{ move.adviser.title }}" adviser="{{move.adviser.description}}" adviser-placement="right">&nbsp;</button>-->
                    </div>
                </td>
            </tr>
            <tr ng-repeat-end ng-if="move.$_isOpen">
                <td>&nbsp;</td>
                <td colspan="5" ng-class="getLoadingClass(move)">
                    <div class="move-details-wrapper">
                        <div class="move-details clearfix">
                            <div class="move-details-a">
                                <h4>{{ 'Reference' | trans}}</h4>
                                <div class="value">{{ move.id }}</div>

                                <ul class="clearfix">
                                    <li>
                                        <h4>{{ 'Beneficiary name' | trans}}</h4>
                                        <div class="value">{{ move.beneficiary }}</div>
                                    </li>
                                    <li>
                                        <h4>{{ 'Bank' | trans}}</h4>
                                        <div class="value">{{ move.bank }}</div>
                                    </li>
                                    <li>
                                        <h4>{{ 'Branch name' | trans}}</h4>
                                        <div class="value">{{ move.branch }}</div>
                                    </li>
                                    <li>
                                        <h4>{{ 'Account number' | trans}}</h4>
                                        <div class="value">{{ move.account_id }}</div>
                                    </li>
                                </ul>

                                <select ng-model="move.subject_id" ng-change="update(move)">
                                    <option value="1">{{ 'Apartment' | trans }}</option>
                                    <option value="2">{{ 'Work' | trans }}</option>
                                    <option value="3">{{ 'Contribution' | trans }}</option>
                                </select>
                            </div>
                            <div class="move-details-b">
                                <h4>{{ 'Comment' | trans }}</h4>
                                <textarea ng-model="move.comment" ng-blur="update(move)"></textarea>
                            </div>
                        </div>

                        <hr/>

                        <div ng-if="move.category_id == 2" class="move-actions">
                            <button class="btn" ng-click="transferReturn(move)">{{ 'Initiate a transfer return' | trans }}</button>
                            <button class="btn" ng-click="transferSmallExpenses(move)">{{ 'Initiate a transfer small expenses' | trans }}</button>
                            <button class="btn" ng-click="managementBeneficiariesTransfers(move)">{{ 'Management beneficiaries transfers' | trans }}</button>
                        </div>

                        <div ng-if="move.category_id == 4">

                            <img class="checkbook" ng-src="{{move.getCheckbookImageUrl()}}" />

                            <hr/>

                            <div class="move-actions">
                                <button class="btn" ng-click="orderingCheckbooks(move)">{{ 'Ordering checkbooks' | trans }}</button>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>