.moves {
  /* move details */
}
.moves .ctg {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #add8e6;
  margin-right: 5px;
}
.moves .ctg.ctg-1 {
  background-color: lightcoral;
}
.moves .ctg.ctg-2 {
  background-color: lightcyan;
}
.moves .ctg.ctg-3 {
  background-color: lightpink;
}
.moves .ctg.ctg-4 {
  background-color: lightsalmon;
}
.moves .balance {
  position: relative;
}
.moves .balance .adviser {
  position: absolute;
  right: -12px;
  top: -8px;
  width: 30px;
  height: 20px;
  display: block;
  border: none;
  background-color: #add8e6;
}
.moves .filters > li {
  display: block;
  float: left;
  width: 33%;
}
.moves .filters ul {
  width: 300px;
  position: absolute;
  z-index: 1;
  background-color: #181818;
  border: 1px solid darkgray;
  border-top: none;
}
.moves .filters ul li {
  padding: 5px 10px;
}
.moves ul.filters,
.moves .filters ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.moves ul.filters {
  width: 100%;
}
.moves .move-details ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.moves .move-details ul li {
  float: left;
  margin-left: 15px;
}
.moves .move-details ul li:first-child {
  margin-left: 0;
}
.moves .move-details h4 {
  font-size: 1em;
  font-weight: normal;
  color: #888;
}
.moves .move-details .value {
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
}
.moves .move-details-a {
  float: left;
}
.moves .move-details-b {
  float: right;
  width: 300px;
}
.moves .move-details-b textarea {
  width: 100%;
}
/*RTL*/
.rtl .moves .ctg {
  margin-right: 0;
  margin-left: 5px;
}
.rtl .moves .income,
.rtl .moves .expense,
.rtl .moves .balance {
  direction: ltr;
}
.rtl .moves .filters > li {
  float: right;
}
.rtl .moves .balance .adviser {
  left: -12px;
  right: auto;
}
.rtl .moves .move-details-a {
  float: right;
}
.rtl .moves .move-details-b {
  float: left;
}
.rtl .moves .move-details ul li {
  float: right;
  margin-right: 15px;
  margin-left: 0;
}
.rtl .moves .move-details ul li:first-child {
  margin-right: 0;
}
