<div class="contacts">
    <ul class="nav">
        <li class="text-center pull-left" ng-repeat="contact in contacts">
            <h3>{{ contact.name }}</h3>

            <div class="thumbnail">
                <img ng-src="{{ contact.image_url }}"/>
            </div>
            <div class="btn-group">
                <button class="col-xs-6 btn btn-sm btn-default" ng-click="edit(contact)"><i class="fa fa-pencil"></i>
                    <small class="hidden-xs">Edit</small>
                </button>
                <button class="col-xs-6 btn btn-sm btn-danger" ng-click="delete(contact)"><i class="fa fa-trash-o"></i>
                    <small class="hidden-xs">Delete</small>
                </button>
            </div>
        </li>
    </ul>
    <div class="text-center small">
        <pagination ng-if="contacts.length" total-items="total" page="page" items-per-page="max"
                    on-select-page="setPage(page)"></pagination>
    </div>
    <hr/>
    <button class="btn  btn-sm btn-primary" ng-click="add()">Add</button>
</div>